		<div id="homeImage">
			<h1 id="bannerText" style="margin: 0px;">IGN News</h1>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<form action="/articles" method="GET">
						<button type="submit" class="btn btn-primary btn-lg">Show Articles</button>
					</form>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title"><i class="fa fa-table"></i> Gaming News</h3>
						</div>
						<div class="panel-body" id="articleSection"></div>
					</div>
				</div>
			</div>
		</div>